<%- include("header") -%>
    <%- include("nav") -%>
    <head>
        <link rel="stylesheet" href="cat.style.css">
    </head>
    <div class="cat_list">
        <% produits.forEach(produit=> { %>
            <div class="cat_item">
                <img class="image" src="/img/equipement/<%= produit.id %>.webp" alt="">
                <div class="cat_nfo">
                    <h2><%= produit.marque %> <%= produit.modele %></h2>
                    <p><%= produit.description %></p>
                </div>
                <div class="cat_price">
                    <p class="cat_dispo"><%= produit.etat %></p>
                    <p><%= produit.prix_location %>€/mois</p>
                    <button onclick="window.location.href = '/produit/<%= produit.id %>';">En savoir plus</button>
                    <button class="refuser-location" onclick="window.location.href = '/produit/<%= produit.id %>';">Refuser la location</button>
                </div>
            </div>
        <% }); %>   
    </div>



<%- include("footer") -%>