<%- include("header") -%>
    <%- include("nav") -%>

        <container class="hdp">
            <div>
                <a class="retour" href="/catalogue/<%= produit.type %>">
                    <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292893 6.79289C-0.0976311 7.18342 -0.0976311 7.81658 0.292893 8.20711L6.65685 14.5711C7.04738 14.9616 7.68054 14.9616 8.07107 14.5711C8.46159 14.1805 8.46159 13.5474 8.07107 13.1569L2.41421 7.5L8.07107 1.84315C8.46159 1.45262 8.46159 0.819457 8.07107 0.428932C7.68054 0.0384078 7.04738 0.0384078 6.65685 0.428932L0.292893 6.79289ZM20.5 6.5H1V8.5H20.5V6.5Z"
                            fill="black" />
                    </svg>
                    <h3>Retour</h3>
                </a>
                <img id="produit" src="/img/equipement/<%= produit.id %>.webp" alt='tapis de course' />
            </div>
            <div id="desc">
                <h3 class="name">
                    <%= produit.marque %> <%= produit.modele %>
                </h3>
                <p class="indic">
                    Informations sur le produit
                </p>
                <div class="cont">
                    <p class="textcont"><%= produit.description %></p>
                </div>
                <p class="indic">
                    Tarif à la journée
                </p>
                <div class="cont">
                    <p class="textcont"><%= produit.prix_location %>€/mois</p>
                </div>
                <p class="indic">
                    Catégorie
                </p>
                <div class="cont">
                    <p class="textcont"><%= produit.type %></p>
                </div>
            </div>
            <div id="infos">
                <p class="txt">Disponible dans plus de 20 magasins en France</p>
                <div id="starz">
                    <span class="etoile">&#9733</span>
                    <span class="etoile">&#9733</span>
                    <span class="etoile">&#9733</span>
                    <span class="etoile">&#9733</span>
                    <span class="etoile">&#9733</span>
                </div>
                <p class="txt">Note : 4/5</p>
                <p class="txt atouts">Atouts majeurs du produit :</p>
                <ul>
                    <li>Simple d'utilisation</li>
                    <li>Sécurisant</li>
                    <li>Entrainement personnalisé</li>
                </ul>
                
          <!-- Formulaire pour ajouter au panier -->
    <form action="/panier" method="POST" id="add-to-cart-form">
        <input type="hidden" name="produitId" value="<%= produit.id %>">
        <input type="hidden" name="produitNom" value="<%= produit.marque %> <%= produit.modele %>">
        <input type="hidden" name="prix" value="<%= produit.prix_location %>">

        <button type="submit" id="addtocart">Ajouter au panier</button>
    </form>
            </div>
        </container>
        <container class="secondpart">
            <div class="partdeux">
                <h2 id="parti2">Description du Produit</h2>
                <p id="titreprod">TAPIS DE COURSE CONNECTE RUN500 - pliage compact - inclinaison motorisée
                </p>
                <p id="descriptiondetail">Le tapis de course RUN500 a été conçu pour les sportifs exigeants qui
                    souhaitent un produit performant en usage et facile à ranger après l'entraînement.
                    Tapis de course performant allant jusqu'à 16km/h et inclinaison motorisée à 10%, connecté aux
                    meilleures applications de pratique. Sans montage et avec un pliage compact pour un rangement
                    facile.</p>
                <img id="picto-desc" src="../img/picto-desc.png" alt="description détaillée du produit en images">
            </div>
            <div class="map">
                <iframe class="carte"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1046.557342891741!2d-3.4524337565161756!3d48.76301862968534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48122dacbf7e85c7%3A0x400046de4d52eff3!2sIntersport%20Saint%20Quay%20Perros!5e1!3m2!1sfr!2sfr!4v1731936157722!5m2!1sfr!2sfr"
                    width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </container>
        <container class="parttrois">
            <div id="vid">
                <h2>Comment l'utiliser ?</h2>
                <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/N7mHjKDcYWE?si=0oZwQVGKU0H4xVJd"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div id="descript">
                <h2>Explication</h2>
                <p>1. Installation : Assurez-vous que le tapis de course est correctement assemblé et placé sur une surface plane.</p>
                <p>2. Mise sous tension : Branchez l'appareil et appuyez sur le bouton d'alimentation pour l'allumer.</p>
                <p>3. Sélection du programme : Utilisez l'écran tactile pour choisir un programme d'entraînement ou régler la vitesse et l'inclinaison manuellement.</p>
                <p>4. Démarrage : Montez sur le tapis, attachez la clé de sécurité, puis appuyez sur "Démarrer" pour commencer votre séance.</p>
                <p>5. Suivi : Pendant l'entraînement, surveillez vos statistiques (temps, distance, calories) sur l'écran et ajustez les paramètres si nécessaire.</p>
            </div>
        </container>



        <%- include("footer") -%>